<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>DocuSign Demo</title>


<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="stylesheets/main.css" />
<script src="jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>

</head>

<body>

	<div class="container">


		<div class="jumbotron">

			<img src="images/docusign_logo_new.png"
				class="img-responsive center-block">

			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" name="myForm" action="/document"
						method="post">
						<fieldset>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Full
									Name</label>
								<div class="col-md-8">
									<input type="text" id="fullname" name="fullname"
										class="form-control" required>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Email</label>
								<div class="col-md-8">
									<input type="email" id="signeremail" name="signeremail"
										class="form-control" required>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Mobile
									Phone</label>
								<div class="col-md-8">
									<input type="tel" id="mobilephone" name="mobilephone"
										placeholder="Prefix number with '+' int country code"
										pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<div class="text-center">
									<div>

										<button type="submit" class="btn btn-primary">DocuSign</button>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
	</div>
</body>

</html>
