<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>DocuSign Demo</title>


<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="stylesheets/main.css" />
<script src="jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>

</head>

<body>

	<div class="container">

		<!-- Main component for a primary marketing message or call to action -->

		<div class="jumbotron text-center">

			<div class="row" style="height:120px;">
				<img src="images/docusign_thank_you.png" class="img-responsive center-block img-rounded">
			</div>
			
			<div class="row">
				<a class="btn btn-default" href="/demo">Sign Again <span class="glyphicon glyphicon-pencil"></span></a> 
				<a class="btn btn-default" href="/downloadDocument?envelopeId=<%= envelopeId %>" >View Document <span class="glyphicon glyphicon-eye-open"></span></a>
				<a class="btn btn-default" href="/downloadCertificate?envelopeId=<%= envelopeId %>">View Certificate <span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>

	</div>
</body>

</html>
